.slds-progress-bar__value{
    /* width: 130px;
    transform: translateX(6px);
    overflow: hidden;
    --lwc-progressBarColorBackgroundFill: #079a1f;
    --slds-g-color-brand-base-60: #079a1f; */
}